<?xml version='1.0' encoding='utf-8'?>
<widget id="com.phonegap.helloworld" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>Week5</name>
    <description>
        This is the week's 5 application
    </description>
    <author email="oani1_16@uni.worc.ac.uk" href="">
        Iulian Oana
    </author>
    <content src="index.html" />
    <access origin="*" />
</widget>
